footer{
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  /* height: 100px; */
  width: 100%;
  margin-top: 200 auto;
  box-sizing: border-box;
  display: block;
  border-top: 15 px solid #007CBD;
  background-color: #004b87;
}

body {
  margin-bottom: 100px;
}

.pred_img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.card-img-top {
  height: 100px;
  width: auto;
  padding: 20px;
}